<div class="container main-container">
  <h4>Demo Cadastro</h4>
  <hr />

  <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm" class="form-horizontal">

  <!-- Nome -->
<div class="form-group">
  <label class="col-md-2 control-label mt-2" for="nome">Nome Completo</label>
  <div class="col-md-10">
    <input
      class="form-control"
      id="nome"
      type="text"
      placeholder="Nome (requerido)"
      formControlName="nome"
      [ngClass]="{'is-invalid': displayMessage['nome']}"/>

    <div class="text-danger" *ngIf="displayMessage['nome']">
      <small>{{ displayMessage['nome'] }}</small>
    </div>
  </div>
</div>

<!-- CPF -->
<div class="form-group">
  <label class="col-md-2 control-label mt-2" for="cpf">CPF</label>
  <div class="col-md-10">
    <input
      class="form-control"
      id="cpf"
      type="text"
      placeholder="CPF (requerido)"
      formControlName="cpf"
      mask="000.000.000-00"
      [ngClass]="{'is-invalid': displayMessage['cpf']}"/>

    <div class="text-danger" *ngIf="displayMessage['cpf']">
      <small>{{ displayMessage['cpf'] }}</small>
    </div>
  </div>
</div>

<!-- Email -->
<div class="form-group">
  <label class="col-md-2 control-label mt-2" for="email">E-mail</label>
  <div class="col-md-10">
    <input
      class="form-control"
      id="email"
      type="email"
      placeholder="E-mail (requerido)"
      formControlName="email"
      [ngClass]="{'is-invalid': displayMessage['email']}" />

    <div class="text-danger" *ngIf="displayMessage['email']">
      <small>{{ displayMessage['email'] }}</small>
    </div>
  </div>
</div>

<!-- Senha -->
<div class="form-group">
  <label class="col-md-2 control-label mt-2" for="senha">Senha</label>
  <div class="col-md-10">
    <input
      class="form-control"
      id="senha"
      type="password"
      placeholder="Senha (requerido)"
      formControlName="senha"
      [ngClass]="{'is-invalid': displayMessage['senha']}"/>

    <div class="text-danger" *ngIf="displayMessage['senha']">
      <small>{{ displayMessage['senha'] }}</small>
    </div>
  </div>
</div>

<!-- Confirmação de Senha -->
<div class="form-group">
  <label class="col-md-2 control-label mt-2" for="senhaConfirmacao">Confirme a Senha</label>
  <div class="col-md-10">
    <input
      class="form-control"
      id="senhaConfirmacao"
      type="password"
      placeholder="Confirme a senha (requerido)"
      formControlName="senhaConfirmacao"
      [ngClass]="{'is-invalid': displayMessage['senhaConfirmacao']}"/>

    <div class="text-danger" *ngIf="displayMessage['senhaConfirmacao']">
      <small>{{ displayMessage['senhaConfirmacao'] }}</small>
    </div>
  </div>
</div>

  <!-- Botão -->
  <div class="form-group mt-3">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">
        Registrar
      </button>
    </div>
  </div>

  <div class="form-group mt-3">
    <div class="col-md-4 col-md-offset-2">
      <p>Formulario valido: {{cadastroForm.valid}}</p>
      <p>Formulario tocado: {{cadastroForm.touched}}</p>
      <p>Formulario sujo: {{cadastroForm.dirty}}</p>
      <p>Formulario: {{formResult}}</p>
    </div> 
    </div>


</form>   
</div>
