<div class="container main-container">
  <div class="row justify-content-start">
    <div
      *ngFor="let produto of produtos; trackBy: trackById"
      class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3"
    >
      <div class="card h-100 shadow-sm border-0">
        
        <!-- Imagem do produto -->
        <img
          [src]="'assets/produtos/' + produto.imagem"
          class="card-img-top img-fluid"
          [alt]="produto.nome"
          style="max-height: 180px; object-fit: contain;"
        />

        <div  class="card-body text-center">
          <!-- Nome -->
          <h4 class="card-title mb-2">{{ produto.nome | titlecase}}</h4>

          <!-- Texto fixo -->
        
          <div [ngSwitch]="produto.promocao">
            <p *ngSwitchCase="true">Em promoção!</p>
            <p *ngSwitchCase="false">Por apenas:</p>
          </div>

           <div *ngIf="produto.promocao">
          <!-- Preço normal ou promocional -->
          <h4 class="fw-bold mb-0">
            <small><del> {{ produto.valor | currency:'BRL':true:'1.2-2':'pt-BR' }}</del></small>
            Por: {{ produto.valorPromo  | currency:'BRL':true:'1.2-2':'pt-BR' }}
          </h4>
        </div> 


          <div *ngIf="!produto.promocao">
          <!-- Preço normal ou promocional -->
          <h4 class="fw-bold mb-0">
            {{  produto.valor | currency:'BRL':true:'1.2-2':'pt-BR' }}
          </h4>
        </div>


       

         </div>

        <!-- Botão -->
        <div class="card-footer bg-light border-0 text-center">
          <button class="btn btn-primary">
            <span class="fa fa-shopping-cart me-1"></span>
            Comprar
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
